body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    background: #1C1C1C;
    color: #ffffff;
    font-family: sans-serif;
}

.userInput {
  display: flex;
  flex-direction: column;
}

#canvas {
  cursor: pointer;
}

#screen {
  display: grid;
  pointer-events: none;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#screen div {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#clearButton {
  color: black;
  background-color: red;
}

/* Estilos dos botões */
.menu-button {
  padding: 10px;
  margin: 5px;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
}

/* Estilo do botão selecionado */
.menu-button.selected {
  background-color: blue;
}