body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    align-items: center;
    background: #1C1C1C;
    color: #ffffff;
    font-family: sans-serif;
}
.menu { 
  display: flex;

}

.menu-button {
  padding: 10px;
  margin: 5px;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
}

.menu-button.selected {
  background-color: blue;
}

.userInput {
  display: flex;
  flex-direction: column;
}

#canvas {
  cursor: pointer;
}

#screen {
  display: grid;
  pointer-events: none;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#screen div {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#clearButton {
  color: black;
  background-color: red;
}



#input-container {
  padding: 10px;
  margin: 5px;
}

input { 
  height: 15px;
  width: 50px;
}

/** classe para dá efeito de fade-in em qualquer objeto*/
.fade-in {
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
