* {
  margin: 0;
  font-size: 18px;
  font-family: PixelFont;
}

@font-face {
  font-family: PixelFont;
  src: url("../assets/fonts/PixelOperatorSC.ttf") format("truetype");
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    align-items: center;
    background: #1C1C1C;
    color: #ffffff;
}

b {
  color: rgb(199, 190, 69);
  background-color: black
}

h1 {
  font-size: 22px;
  margin: 5px;
}

.menu { 
  display: flex;
  flex-wrap: wrap; /* adicionar quebra de linha*/
  /*flex-basis: 100%;*/
  width: 100vw;
  justify-content: center;
}

.menu-button {
  color: white;
  border: none;
  cursor: pointer;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-column-gap: 30px;
  width: 100%;
  padding: 10px;
  margin: 5px;
}

.userInput {
  display: flex;
  flex-direction: column;
}

#canvas {
  cursor: pointer;
}

.screen {
  display: grid;
  pointer-events: none;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.screen div {
  border: 1px solid rgba(0, 0, 0, 0.1);
}


.end {
  justify-self: flex-end;
}

input { 
  height: 5vh;
  width: 5vw;
  padding: 2px;
  margin: 5px;

  font-weight: bold;
  border: 2px solid black;
  border-radius: 1rem;

  box-shadow: 0.2vh 0.2vh black;
  transition: 100ms ease-in;
}

input:hover { 
  background-color: rgb(239, 255, 149);
  box-shadow: 0rem 0rem black;
  transform: translateX(0.5vh) translateY(0.5vh);
  transition: 100ms ease-in;
}

.menu-button {
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  
  border: 2px solid black;
  border-radius: 1rem;
  background-color: gray;

  box-shadow: 0.2vh 0.2vh black;
  transition: 100ms ease-in;
}

.menu-button:hover {
  background-color: blue;
  box-shadow: 0rem 0rem black;
  transform: translateX(0.5vh) translateY(0.5vh);
  transition: 100ms ease-in;
}

.menu-button.selected {
  background-color: blue;
}

.clear-button {
  height: 8vh;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: red;

  box-shadow: 0.2vh 0.2vh black;
  transition: 100ms ease-in;
}

.clear-button:hover {
  background-color: blue;
  box-shadow: 0rem 0rem black;
  transform: translateX(0.5vh) translateY(0.5vh);
  transition: 100ms ease-in;
}

.draw-button {
  height: 8vh;
  cursor: pointer;
  font-weight: bold;
  
  border: 2px solid black;
  border-radius: 1rem;
  background-color: gray;

  box-shadow: 0.2vh 0.2vh black;
  transition: 100ms ease-in;
}

.draw-button:hover {
  background-color: green;
  box-shadow: 0rem 0rem black;
  transform: translateX(0.5vh) translateY(0.5vh);
  transition: 100ms ease-in;
}

.draw-button.selected {
  background-color: green;
}

.add-button {
  height: 5vh;
  cursor: pointer;
  font-weight: bold;
  
  border: 2px solid black;
  border-radius: 1rem;
  background-color: gray;

  box-shadow: 0.2vh 0.2vh black;
  transition: 100ms ease-in;
}

.add-button:hover {
  background-color: green;
  box-shadow: 0rem 0rem black;
  transform: translateX(0.5vh) translateY(0.5vh);
  transition: 100ms ease-in;
}

.add-button.selected {
  background-color: green;
}

/** classe para dá efeito de fade-in em qualquer objeto*/
.fade-in {
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}