body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1C1C1C;
    color: #ffffff;
    font-family: sans-serif;
  }
  .userInput {
    display: flex;
    flex-direction: column;
  }
  #canvas {
    cursor: pointer;
  }
  
  #screen {
    display: grid;
    pointer-events: none;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  #screen div {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  #clearButton {
    color: black;
    background-color: red;
  }