@import url(buttons.css);
@import url(inputs.css);

* {
  margin: 0;
  font-size: 18px;
  font-family: PixelFont;
}

@font-face {
  font-family: PixelFont;
  src: url("../assets/fonts/PixelOperatorSC.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;    
  align-items: center;
  background: #1C1C1C;
  color: #ffffff;
}

h1 {
  font-size: 22px;
  margin: 5px;
}

b {
  color: rgb(199, 190, 69);
  background-color: black
}

.menu { 
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
}

.screen {
  display: grid;
  pointer-events: none;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.screen div {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}